:root {
  --primary-color: hsla(226, 100%, 50%, 1);
  --border-color: hsla(226, 100%, 30%, 1)
}

button {
  font-size: 1.5rem;
  padding: 1rem 2em;
  outline: none;
  color: white;
  border: none;
  margin-right: 1rem;
  border: 2px solid var(--primary-color);
  border-bottom: 6px solid var(--border-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

}

button:hover {
  color: var(--primary-color);
}

button::after {
  content: "";
  background: #fff;
  position: absolute;
  padding: 1rem 2rem;
  display: block;
  z-index: -1;
}

button[class^="slide"]:after {
  transition: all 0.4s;
}

button[class^="slide"]:hover:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button.slide-from-left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

button.slide-from-right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

button.slide-from-top::after {
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0%;
}

button.slide-from-bottom::after {
  top: 100%;
  bottom: -100%;
  left: 0;
  right: 0;
}

button[class^="grow"]:hover:after {
  transition: all 0.4s ease-in-out;
}

button.grow-box:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
}

button.grow-box:hover:after {
  transform: scale(1);
}

button.grow-ellipse:after {
  left: -50%;
  right: -50%;
  top: -200%;
  bottom: -200%;
  /* background: #000; */
  border-radius: 100%;
  transform: scale(0);
}

button.grow-ellipse:hover:after {
  transform: scale(1);
}

button.grow-skew-forward:after {
  top: 0;
  bottom: 0;
  left: -20%;
  right: -20%;
  transform: skewX(-45deg) scale(0, 1);
}

button.grow-skew-forward:hover:after {
  transform: skewX(-45deg) scale(1, 1);
}

button.grow-skew-backward:after {
  top: 0;
  bottom: 0;
  left: -20%;
  right: -20%;
  transform: skewX(45deg) scale(0, 1);
}

button.grow-skew-backward:hover:after {
  transform: skewX(45deg) scale(1, 1);
}

button.grow-spin:after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0) rotate(-180deg);
}

button.grow-spin:hover:after {
  transform: scale(1) rotate(0deg);
}